.button-container {
	cursor: pointer;
	border: none;
	background-color: @color-primary;
	color: @color-white;
	padding: .spacing-em(1)[] .spacing-em(2)[];
	border-radius: .spacing-em(.5)[];

	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

	font-family: @font-family;
	font-size: 1rem;

	&.red {
		background-color: @color-red;
	}

	&.raw {
		padding: 0;
		box-shadow: none;
		background-color: transparent;
	}
}