.section-header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: .spacing-em(2)[];

	padding: .spacing-em(3)[];

	.title-and-subtitle{
		flex: 1 0 100%;

		h3 {
			margin: 0px 0px .spacing-em(1)[];
			color: @color-text-title;
		}

		span {
			color: @color-text-paragraph;
		}

		@media screen and (min-width: @break-md) {
			flex: 1 0 auto;
		}
	}

	@media screen and (min-width: @break-md) {
		padding: 24px .spacing-em(4)[];
	}

	@media screen and (min-width: @break-lg) {
		padding: 24px .spacing-em(8)[];
	}
}