.section-header-container {
	position: fixed;

	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: .spacing-em(2) [];

	width: 100%;
	padding: .spacing-em(3) [];
	background-color: @body-bg;

	.title-and-subtitle {
		flex: 1 0 100%;

		h3 {
			margin: 0px 0px .spacing-em(1) [];
			color: @color-text-title;
		}

		span {
			color: @color-text-paragraph;
		}

		@media screen and (min-width: @break-md) {
			flex: 1 0 auto;
		}
	}

	@media screen and (min-width: @break-md) {
		padding: 24px .spacing-em(4) [];
	}

	@media screen and (min-width: @break-lg) {
		padding: 24px .spacing-em(8) [];
	}
}

.add-task-modal-form {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: .spacing-em(2) [];

	.content-header {
		h3 {
			margin: 0px;
			color: @color-text-title;
		}

		hr {
			width: 100%;
		}
	}

	p {
		margin: 0px;
		color: @color-text-paragraph;
	}

	input,
	.textarea {
		appearance: none;
		outline: none;

		border-radius: .spacing-em(0.5) [];
		padding: .spacing-em(2) [];
		border: solid 2px @color-text-hint;
		transition: border-color 250ms linear;

		font-family: @font-family;
		font-size: 1rem;

		&:active,
		&:focus {
			border-color: @color-primary;
		}
	}

	.textarea {
		resize: vertical;
		flex: 1;
		display: block;
	}

	.textarea[contenteditable]:empty::before {
		content: 'Type the description of your todo';
		color: @color-text-hint;
	}

	input::placeholder {
		color: @color-text-hint;
	}

	.modal-actions {
		display: flex;
		justify-content: flex-end;
	}
}
