* {
    box-sizing: border-box;
}

html {
    font-size: 14px;

    @media screen and (min-width: @break-md) {
        font-size: 15px;
    }

    @media screen and (min-width: @break-lg) {
        font-size: 16px;
    }
}

html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    font-family: @font-family;
}

body {
    background-color: @body-bg;
}

#root {
	display: flex;
	flex-direction: column;
}

button {
	appearance: none;
}