@base-unit-em: 0.5em; // Valor representa a medida do base unit por EM;

@break-md: 424px;
@break-lg: 960px;

@body-bg: #f1f1f1;

@font-family: 'Roboto', sans-serif;

@color-primary: #2D9CDB;
@color-white: #FFFFFF;